[submodule "src/main/resources/static/resources/startbootstrap-sb-admin-2"]
	path = src/main/resources/static/resources/startbootstrap-sb-admin-2
	url = https://github.com/StartBootstrap/startbootstrap-sb-admin-2.git
